<div class="container">
    <div>
    <h2>Modifier un Plat :</h2>
    </div>
    <form >
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >ID Plat</label>
    <input readonly type="text" [(ngModel)]="currentPlat.idPlat" name="idPlat" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Nom Plat</label>
    <input type="text"[(ngModel)]= "currentPlat.nomPlat" name="nomPlat" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Prix Plat</label>
    <input type="number" [(ngModel)]= "currentPlat.prixPlat" name="prixPlat" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
    <label >Date création</label>
    <input type="date" [ngModel]="currentPlat.dateCreation | date: 'yyyy-MM-dd'"(ngModelChange)=" currentPlat.dateCreation= $event" name="dateCreation"
      class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Style de cuisine</label>
      <select class="form-control form-control-lg" id="idstyle" name="idstyle"
      [(ngModel)]="updatedstyleId">
      <option *ngFor="let style of styledecuisines" [value]="style.idstyle" >
      {{style.nomstyle}}
      </option>
      </select>
      </div>
    <div class="mt-2">
    <button type="submit" (click)="updatePlat()"class="btn btn-success" >Modifier</button>
    </div>
