<div class="container">
<div>
<h2>Ajouter un Plat :</h2>
</div>
<form >
<div class="col-sm-2 col-md-2 col-lg-2">
<label >ID Plat</label>
<input type="text" [(ngModel)]="newPlat.idPlat" name="idPlat" class="form-control">
</div>
<div class="col-sm-4 col-md-4 col-lg-4" >
<label >Nom Plat</label>
<input type="text"[(ngModel)]= "newPlat.nomPlat" name="nomPlat" class="form-control">
</div>
<div class="col-sm-2 col-md-2 col-lg-2">
<label >Prix Plat</label>
<input type="number" [(ngModel)]= "newPlat.prixPlat" name="prixPlat" class="form-control">
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<label >Date création</label>
<input type="date" [(ngModel)]= "newPlat.dateCreation" name="dateCreation" class="form-control">
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <label>Style de cuisine</label>
    <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="newIdStyle">
        <option *ngFor="let style of stylecuisines" [value]="style.idstyle">
            {{style.nomstyle}}
        </option>
    </select>
</div> 
<div class="mt-2">
<button type="submit" (click)="addPlat()"class="btn btn-success" >Ajouter</button>
</div>
</form>
</div>
